name: buildTest
on: [push, pull_request]
jobs:
  build:
    name: Test building for Gamebuino META
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Building 
      uses: arduino/compile-sketches@v1
      with:
        fqbn: 'gamebuino:samd:gamebuino_meta_native'
        platforms: |
          # Arduino SAMD
          - name: "arduino:samd"
          # Gamebuino META
          - source-url: "https://gamebuino.com/sdk/gamebuino-meta-board-1.2.2.zip"
            name: "gamebuino:samd"
        libraries: |
          - source-url: https://github.com/Gamebuino/Gamebuino-META/archive/refs/heads/master.zip
          - destination-name: "Gamebuino META"
        sketch-paths: |
          - .
        verbose: true
        

#    - name: Compile all files
#      uses: ArminJo/arduino-test-compile@v3
#      with:
#        arduino-board-fqbn: gamebuino:samd:gamebuino_meta_native
#        platform-url: https://gamebuino.com/sdk/package_gamebuino_index.json
#        arduino-platform: gamebuino.samd,arduino:samd
#        required-libraries: Gamebuino META
#        #sketch-names: "*.ino"
#        #sketch-names-find-start: "DiggerPLUS/"
#        set-build-path: true
#        debug-compile: true
