name: MetaBuild
on: [push, pull_request]
jobs:
  build:
    name: Test compiling for Gamebuino META
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Compile all files
      uses: ArminJo/arduino-test-compile@v3
      with:
        arduino-board-fqbn: gamebuino:samd:gamebuino_meta_native
        platform-url: https://gamebuino.com/sdk/package_gamebuino_index.json
        required-libraries: SPIMemory,Gamebuino META
        sketches-exclude: medias
        build-properties: '{ "All": "-DDEBUG" }'
