name: test
on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      #- uses: arduino/compile-sketches@v1
      #  with:
      #    github-token: ${{ secrets.GITHUB_TOKEN }}
      #    fqbn: ${{ fqbn }}

      - uses: arduino/compile-sketches@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fqbn: 'arduino:avr:uno'
          platforms: |
            - source-url: "https://gamebuino.com/sdk/gamebuino-meta-board-1.2.2.zip"
              name: "arduino:samd"
          libraries: |
            - source-url: "git@github.com:Gamebuino/Gamebuino-META.git"
              version: latest
