name: test
on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - uses: arduino/compile-sketches@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fqbn: "gamebuino:meta"
          platforms: |
            - source-url: "https://gamebuino.com/sdk/gamebuino-meta-board-1.2.2.zip"
              name: "gamebuino:meta"
          libraries: |
            - name: "Gamebuino META"
              version: latest
          sketch-paths: "a_Hello.ino"
